<!DOCTYPE html>
<html lang="en" style="overflow: hidden;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../bootcss/bootstrap.min.css">
    <link rel="stylesheet" href="../sec.css">
<style>
     header{
            padding-right: 40px;
            color: #dbe5d4 ;
            height: fit-content;
            text-align: center;
            padding-bottom: 10px;
            padding-top: 5px;
            margin-bottom: 10px;
            background: radial-gradient(circle, #538135  , #375623 );  
           box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.354);
        }
        input[type="checkbox"]{
          margin-right: 5%;
        }
        #cancelled,#declined,#consulted,#missed{
          margin-left: 12%;
        }
        .col-3{
          @media (max-width:500px) {
                      font-size:10px ;
          }

        }
</style><div id="ofcasLoad" style="z-index: 100000000000000000;"> <img src="../img/loading.gif" alt=""></div>
</head>  <header>

        <h4>Online Faculty Consultation Appointment Scheduling</h4>
       </header>
<body>
  
<div class="container-fluid">
  <div class="form-control"id="TheContainer" >
    
  
    
     <div id="section1">
      <h5 style="position: sticky;top: 0;backdrop-filter: blur(5px);" id="collegeName">College of Computing Studies, Information and Communication Technology </h5>
      <button id="mainPrint" onclick='print()' class="btn btn-success" style="position: relative;padding-left: 30px;color:white"><img src="../img/printer.png" class="mybtn-icon" alt="" >Download Copy</button>
      <button id="showgraph" class="btn-primary btn " ><img src="../img/chart.png" class="mybtn-icon" alt="">Show Report</button>
    <button type="button" id="logout" class="btn-danger btn" ><img src="../img/logout.png" class="mybtn-icon" alt="">Logout</button>
  

       <div  id="facultyList" style="margin-top: 20px;overflow: auto;overflow-x: hidden;">
        
       
       </div>
     </div>
    <div id="section2">
        <div id="facultydetail" >
          
        </div>
    </div>
      
     <div id="section3">
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
 
        <canvas id="myChart" width="400" height="400"></canvas>

    </div>
    <div class="col-sm-2">

    </div>
    <div class="col-sm-6">
     
      <canvas id="myCharts" width="400" height="400"></canvas>

    </div>
  </div>
</div>

       
     </div>
  </div>
  
</div>

<div
  class="modal fade"
  id="forDate"
  tabindex="-1"

 
  
  role="dialog"
  aria-labelledby="modalTitleId"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-md"
    role="document"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitleId">
         View Report
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          onclick="showThis(1)"
        ></button>
      </div>
      <div class="modal-body">
         <div class="container-fluid" id="sem-holder">
            

         </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
         onclick="showThis(1)">
          BACK
        </button>
    
      </div>
    </div>
  </div>
</div>


<script src="../bootjs/boostrap.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="../sec_script.js"></script>
</body>
</html>